@keyframes slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(-500%);
    }
}

.slider {
    animation: slide 15s linear infinite;
    /* Adjust timing to fit your needs */
}